In [27]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import requests
import json
from census import Census

In [3]:
# read in Fast Food & Obesity csv files - Anne

#connect to Census API - Julia 

#convert Census API zip code into state

#merge tables by state 

#create data frame including state, fast food chain, obesity rate

#data frame population and state

In [37]:
### Data Cleanup 
# Census data
# Census API Key

url = 'http://api.census.gov/data/2020/dec/pl?get=NAME,H1_001N&for=state:*'

from config import api_key
c = Census(api_key, year=2021)

census_data = requests.get(url).json()

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

population_by_state = census_pd.rename(columns={"NAME": "State", 
                                      "H1_001N": "Total Population"})
population_by_state

                       0         1      2
0                   NAME   H1_001N  state
1                Alabama   2288330     01
2                 Alaska    326200     02
3                Arizona   3082000     04
4               Arkansas   1365265     05
5             California  14392140     06
6               Colorado   2491404     08
7            Connecticut   1530197     09
8               Delaware    448735     10
9   District of Columbia    350364     11
10                 Idaho    751859     16
11               Florida   9865350     12
12               Georgia   4410956     13
13                Hawaii    561066     15
14              Illinois   5426429     17
15               Indiana   2923175     18
16                  Iowa   1412789     19
17                Kansas   1275689     20
18              Kentucky   1994323     21
19             Louisiana   2073200     22
20                 Maine    739072     23
21              Maryland   2530844     24
22         Massachusetts   2998537     25
23              Michigan   4570173     26
24             Minnesota   2485558     27
25           Mississippi   1319945     28
26              Missouri   2786621     29
27               Montana    514803     30
28              Nebraska    844278     31
29                Nevada   1281018     32
30         New Hampshire    638795     33
31            New Jersey   3761229     34
32            New Mexico    940859     35
33              New York   8488066     36
34        North Carolina   4708710     37
35          North Dakota    370642     38
36                  Ohio   5242524     39
37              Oklahoma   1746807     40
38                Oregon   1813747     41
39          Pennsylvania   5742828     42
40          Rhode Island    483474     44
41        South Carolina   2344963     45
42          South Dakota    393375     46
43             Tennessee   3031605     47
44                 Texas  11589324     48
45                  Utah   1151414     49
46               Vermont    334318     50
47              Virginia   3618247     51
48            Washington   3202241     53
49         West Virginia    855635     54
50             Wisconsin   2727726     55
51               Wyoming    271887     56
52           Puerto Rico   1598159     72

In [ ]:
### Data Cleanup 
# Obesity data

# read in csv file - Anne